@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

.title-bold {
    font-weight: 600;
}

.title-light {
    font-weight: 200;
}

p {
    font-weight: 200;
    font-size: 15px;
    opacity: .5;
}

.info {
    max-width: 55ch;
    margin: 0 auto;
    margin-top: 1em;
}

.card-title {
    font-size: 1.3rem;
    font-weight: 600;
    opacity: .7;
}

.card-info {
    max-width: 35ch;
    font-size: .8rem;
    margin-top: 1em;
}

/* Header */

header {
    text-align: center;
    margin: 3em auto 3em;
}

/* Main */

main {
    display: flex;
}

/* Cards */

.card {
    background-color: #fff;
    border-radius: .2em;
    padding: 1.5em;
    box-shadow: 0 0 3em -1em rgba(0, 0, 0, .2);
}

.first-card {
    margin: auto;
    margin-right: 2em;
}

.last-card {
    margin: auto;
    margin-left: 2em;
}

/* Card columns */

.columns {
    margin-bottom: 2em;
}

.columns .card:first-of-type {
    margin-bottom: 2em;
}

/* Card image */

.card-image {
    display: flex;
    margin-left: auto;
    margin-top: 2.5em;
}

/* Border colors */

.card-red {
    border-top: 3px solid hsl(0, 78%, 62%);
}

.card-cyan {
    border-top: 3px solid hsl(180, 62%, 55%);
}

.card-orange {
    border-top: 3px solid hsl(34, 97%, 64%);
}

.card-blue {
    border-top: 3px solid hsl(212, 86%, 64%);
}

@media(max-width: 60em) {
    header {
        margin: 5em 1em 5em
    }

    h1 {
        font-size: 1.7rem;
    }

    main {
        display: grid;
        margin-inline: auto;
        margin-bottom: 5em;
    }

    .card {
        margin: 1em auto;
    }

    .columns {
        margin: 1em auto;
    }

}